# version: '3.8'

services:
  git-server:
    build: .
    container_name: git-server
    ports:
      - "2222:22"
    volumes:
      - ./repos:/repos
      - ./ssh_host_keys:/etc/ssh
    environment:
      AUTHORIZED_KEYS: "${AUTHORIZED_KEYS}"
    restart: unless-stopped

